.title1{
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 1em;
font-family: minisystem;
background-color: black;
color: green;
font-size: 60px;

}


.sidenav {
	color: blue;
	background-color: black;
	padding-top: 1em;
	padding-bottom: 2em;
	margin-left: auto;
	padding-left: 2em;
	font-family: minisystem;
	border: 1px solid lightgreen;

	 }

	




.divbackground {
	
background-color: black;
padding-left: 10%;
padding-top: 50px;
padding-bottom: 50px;

align-content: center; 

}

.doomsdayclock{
	display: flex;
	justify-content: flex-end;
	padding-right: 1em;
}




