
*{
    margin: 0;
    padding:0;
    
}

body{
    height: 2000px;
    background-color: rgb(242, 245, 248);
}


.logo{
    position: relative;
    display: inline-block;
    font-family: 'Special Elite', cursive;
    font-size: 40px;
    top: 34px;
}

.hound{
    position: relative;
    top: 16px;
}



.header{
    
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: rgba(92, 97, 99) 10px 10px 20px;
}
.search-bar{
    display: flex;
    flex-grow: 1;
    margin: 2rem 2rem 0rem 10rem;
}

.search-input{
    width: 50%;
    font-size: inherit;
    padding: .4em;
    border: 1px solid #777;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-btn{
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    border: 1px solid #777;
    background-color: #f8f8f8;
    border-left: none;
    border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

.search-btn:hover{
    background-color: #f0f0f0;

}




.categories{
    
    padding: 1rem 2rem;
    border-top: 1px solid rgb(10, 159, 218);
    border-bottom: 1px solid rgb(10, 159, 218);
    margin-bottom: 20px;
}

.categories-section{
     display: flex;
     overflow: hidden;
}

.category{
    margin-right: 1rem;
    word-wrap: none;
    white-space: nowrap;
    border: 1px solid #ccc;
    border-radius: 900px;
    background-color: #e7e7e7;
    padding: .5rem 1rem;
    font-size: inherit;
    cursor: pointer;
    transition: background-color 150ms;
}
.category:hover{
    background-color: #ddd;

}

a{
    padding: 10px;
    font-family: 'Special Elite', cursive; 
    font-size: 20px;
    color: black;
    text-decoration: none;
    transition: background-color 150ms;
    
}
a:hover{
    background-color: rgb(10, 159, 218);
  
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgb(255, 255, 255);
    padding: 10px;

}

.grid-item{
background-color: white;

padding: 20px;
font-size: 30px;
text-align: center;
height: 20rem;
width: 20rem;
}

h2{
    font-size: 30px;
    padding: 10px;

}

h3{
    font-size: 20px;
}

footer{
    height: 200px;
    background-color: black;
}

footer img{
    height: 80px;
    width: 80px;
    margin-top: 40px;
    
}

footer #facebook-icon{
    margin-left: 1000px;
}

footer #instagram-icon{
    margin-left: 30px;
}

