.container{
grid-template-columns: 20% 20% 20% 20% 20%;
grid-auto-rows: 20% 20% 20% 20% 20%;
grid-gap: 20px;


}

.title {
grid-area: 1/2/3/6;
/*background-image: url(docworldback2.png);*/
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-color: lightblue;
padding: 20px;
}

.sidenav {
	grid-area: 3/4;
	background-color: lightblue;

}

.time{
	grid-area: 


}