*{

	padding: 0;
	margin:0;
}



body{
/*width: 100%;*/
/*height: auto;*/
/*overflow: hidden;*/

}


.navclass ul{
	display: flex;
	margin: 10;
	padding: 10px;
	
}
.navclass ul li{
	list-style: none;
	

}
.navclass ul li a{
	display: block;
	float: left;
	font-family: 'Roboto Condensed', sans-serif;
	color: #000000;
	text-decoration: none;
	padding: 10px;
	

}
a:hover{
	background-color: lightblue;
	opacity: 0.4;


}
.content-wrapper {
/*width: 80%;*/
/*margin: 4% 10% 5% 10%;*/
position: static;
top: 
}

.content-wrapper img{
	width: 100%;
	filter: brightness(30%);
	background-size: auto;
	position: static;
	z-index: -1;
}

.text-wrapper{

	width: 100%;
	position: absolute;
	margin-top: -70%

}

.text-wrapper h2 {
	display: flex;
	justify-content: center;
	/*justify-content: space-around;*/
text-align: center;
color: #ffffff;
font-size: 9vh;
font-family: 'bebas';
word-spacing:5px;
margin: 5px;
padding: 10px;


}

.text-wrapper h3{
text-align: center;
color:#ffffff;
font-size: 4vh;
font-family: 'bebas';
word-spacing:5px;
padding: 10px;
margin: 5px;

}

.headerlogo{
	
}



#logo{
	
	float: right;
	max-width: 100%;
	max-width: 100%;
	

}

#word-wrapper p{
	/*height: 800px;*/
	/*width: 80%;
	padding: 40px;
	margin: 40px;
*/


}

.middle-section {
	background-color: black;
	color: white;
	
}
#words{
	padding: 80px;
}



