body{
    margin: 0px;
    padding: 0px;
    background-image: url(blue-gradient-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*height: 150vh;*/
    
}

label{
  margin: 0 40px 0 0;
  line-height: 70px;
  font-size: 40px;
  display: none;
  
}

#toggle{
  display: none;
}

header{
  height: 130px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;

}

.logo, .h1-tag{
  font-family: 'Special Elite', cursive;
  
  color: white;
  margin-top: 30px;
}

.h1-tag{
  margin-top: 70px;
  padding: 10px;
  font-size: 50px;
}

.logo{
  display:flex;
  }


.nav-links, li, a{
  display: inline-block;
  margin: 30px 10px 0 10px;
  margin-right: 20px;
  font-family: 'Special Elite', cursive;
  font-size: 20px;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav-links, li, a:hover{
  color: rgb(0, 0, 0);
}



h1{
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.audio-container, .container, .container2{
  margin-left: 220px;
}

.container{
    position: relative;
    display: inline-block;
    margin: 30px;
    
    width: auto;
    height: auto;
    
    
    
    
  }
  
  
  
  .container2{
    position: relative;
    display: inline-block;
    margin: 30px;
    
    width: auto;
    height: auto;
    
    
    
    
    
    
  
  }
  
  
  
  
  
  

.youtcells{
   margin-left: 10%;
   margin-top: 100px;
   padding: 20px;
   
   
   
   
}





iframe{
    display: inline;
    margin: auto;
    
}

.control{
  margin: -55px -30px;
}
 

#bookmark-this {
  padding: 5px 10px;
  background-color: #f0ad4e;
  border: 1px solid #eea236;
  border-radius: 4px;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

#bookmark-this:hover {
  background-color: #ec971f;
  border: 1px solid #d58512;
  text-decoration: none;
}

#bookmark-this:active {
  background-color: #ec971f;
  border: 1px solid #d58512;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}




@media (max-width: 800px){

  .logo{
    display: none;
  }
   
ul li{
  width:100%;
  text-align: center;
  display: none;
}

.audio-container{
  margin-top: 100px;
}

ul li a{
  
  display: block;
  border-bottom: 1px solid #eaeaeb;
  margin: 0 200px 0 100px;
  
}

ul li a:hover{

  color: black;

}


label{
  display: flex;
  cursor: pointer;
  color:white;
}

#toggle:checked + nav ul li{
   
   display: block;
}





   /* a{  display: flex;
        flex-direction: column;
        font-size: 20px;
        margin-top: -80px;
       
    }
    body{
        margin:0;
        padding:0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .container{
      height:100px;
      width:400px;
    }
    .radioimg{
     width: 30px;
     height: 30px;
     margin:40px 340px ;
    }
    h2{
      font-size: 20px;
    }
    h3{
      font-size: 15px;
    }
    .control{
    
      margin-bottom: 100px;
      margin-top: -80px;
      margin-left: -10px;
      
    }
  }
  p{
    color: black;
    font-size: 5px;*/
  }