.title {
display: flex;
justify-content:center;
padding: 40px;
/*box-shadow: 5px 5px 30px white;*/
/*background-image: url(sunny.jpg);*/
/*background-position: center;*/
background-image: url(docworldback2.png);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;

/*opacity: 0.5;*/

}
/*.title2{
 font-family: 'ZCOOL XiaoWei', serif;
color: white;
padding: 60px;
margin-left: 16px;
text-shadow: 3px 3px 8px black;
text-align: center;
font-size: 50px; 
}*/


.sidenav {
	
 /*box-shadow: 5px 5px 30px white;*/
 /*background-image: url(sunny.jpg);*/
 background-position: center;
	
	 /*height: 100%;
  width: 160px;*/
   /*float: right;*/
  /*position: sticky;
  z-index: 1;
  top: 0;
  left: 0;*/
  /*background-color: #8FC0A9;*/
  /*overflow-x: hidden;*/
  padding-top: 20px;
  margin: 20px;
  display: inline-block;

}
body {
	/*background-image: url(tropicalbackground.jpg);*/

	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: cover;
  background-color: lightblue;
}

.sidenav a {
	text-shadow: 3px 3px 6px black;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: inline-block;
  

}

.sidenav a:hover {
  color: yellow;
}

.cells {
	padding: 80px;
	margin: 30px;
	/*display:block;*/
	margin-left: auto;
	margin-right: auto;

}

a {
  color: white;

}
a:hover{
  color: #FFFF3C;
}



.time{
	float:right;
	/*padding: 50px;*/
	/*box-shadow: 2px 2px 10px white;*/

}