body{
    margin: 0px;
    padding: 0px;
    background-image: url(blue-gradient-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*height: 150vh;*/
    
}

.nav1{
    
    text-align: center;
    background-color: rgba(0,0,0,.3);
    height: 150px;
    position: sticky;
    
    
    
    
}


ul {
    
    text-decoration: none;   
    display: inline;
    /*border-bottom: 1px solid white;*/
    
    
}

li{
    
    list-style-type: none;
    display: inline;
    
    
    
    
}

 
.fijititle{
    
    color: orange;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    display: inline;
    
    text-align: center;
    float: left;
    
   
    /*position: relative;*/
    
    
}

  
    
      
  

  .right{
      
      float: right;
      margin-top: 105px;
    
      
  }


a{
    display: inline;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    color: white;
    text-decoration: none;
    padding: 40px 20px;
    text-shadow: 2px 2px black;
    transition-property: width;
    
    
    
    
    
    
}
a:hover{
    
    color: orange;
    
}



.container{
    position: relative;
    display: inline-block;
    margin: 70px;
    border-radius: 20px;
    width: 600px;
    height: 200px;
    background-color: rgba(0,0,0,.3);
    border-style: solid;
    border-color: black;
    border-width: 1px;
    
    
    
    
    
  
  }
  
  .radioimg{
    position: relative;
    width: 90px;
    margin: 10px;
    opacity: .8;
    float: right;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
  }
  
  audio{
    filter: invert();
    height: 10px;
    opacity: .3;
    margin: 20px;
    padding: 60px;
    
  
  }
  
  audio :hover{
  
    transform: scale(1.1);
  }
  
  h2{
    
    padding: 50px;
    text-decoration: underline;
    font-family: minisystem;
    display: inline;
    position: relative;
    font-size: 30px;
    color: greenyellow;
  }
  
  h3{
    
    display: inline;
    width: 20%;
    font-family: minisystem;
    font-style: italic;
    position: relative;
    font-size: 20px;
    color:greenyellow;
    
  }

.youtcells{
   margin-left: 30px;
   margin-top: 100px;
   padding: 20px;
   display: list-item;
   justify-content: center;
   
   


}


iframe{
    display: inline;
    margin: auto;
    
}


 
#radio{
    position: sticky;
    top:100px;
    opacity: .7;
    float: left;
}


@media screen and (max-width: 726px){
   
    a{  display: flex;
        flex-direction: column;
        font-size: 20px;
        margin-top: -80px;
       
    }
    body{
        margin:0;
        padding:0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .container{
      height:100px;
      width:400px;
    }
    .radioimg{
      width:20px;
      height: 20px;
      margin-top: -50px;
    }
    h2{
      font-size: 20px;
    }
    h3{
      font-size: 15px;
    }
    .control{
      margin-top: -30px;
      margin-left: -30px;
      
    }
  }