*{
    margin: 0;
    padding: 0;
    
}




.header{
    
    height: 110px;
    width: 100%;
    background-color: black;
    margin-bottom: 100px;
}



.title{
    display: inline-block;
    font-family: 'Special Elite', cursive;
    font-size: 40px;
    color: white;
    padding: 10px;
    margin: 10px;
    
}

.hound{
    display: inline;
    margin-top: 30px;
}

.control{
    display: inline;
    margin: 50%;
}

ul{
    font-family: 'Special Elite', cursive;
    display: flex;
    color: white;
    float: right;
    list-style:none;

}

li{
    
    margin-right:20px;
    padding-left: 20px;
    font-size: 20px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: yellow;
}

.coin{
    position: fixed;
    bottom:0;
    left: 0;
    
}

.dailymail{
    
    display: inline;
    margin: 20px;
    

}

.drudge{

    margin: 20px;
    display: inline;

}

.infowars{
    margin: 20px;
    display: inline;
}

.containerright{
    display: flex;
    flex-direction: column;
    float:right;
    margin-top: 0px;
    height: 700px;
    width: 300px;
    overflow-x: hidden;
    overflow-y: auto;

    
}


.infotv {
    display: inline;
    margin-top: 
}


.frenchies{
    display: inline;
}



.rtnews{
    display: inline;
}

.btnrt{
    background-color: green;
    color: black;
    padding: 10px;
    font-weight: bold;
    height: 50px;
    border-radius: 40px;
    
}

.btninfo{
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: bold;
    height: 50px;
    border-radius: 40px;
}

.btnfrance24{
    background-color: rgb(42, 173, 216);
    color: white;
    padding: 10px;
    font-weight: bold;
    height: 50px;
    border-radius: 40px;
}

.tvbuttons{
    display: inline;
    float: right;
    margin-right: 20px;
}