.title1{font-family: 'Love Ya Like A Sister', cursive;

color: yellow;
padding: 60px;
margin-left: 16px;
text-shadow: 3px 3px 8px black;
text-align: center;
font-size: 60px; 
}

.sidenav{
color: green;
padding: 20px;
margin-left: 16px;
text-shadow: 3px 3px 8px black;
text-align: left;
font-size: 20px; 	
}

.divbackground{



background: rgba(127, 154, 154,.5);


}

.widget{

	z-index: 2;

	
}
.willy{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
	
	
}

.frames:hover{
	transform: scale(1.8);
	padding: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.radar{
	padding: 20px;
}

.scripps_iframe_embed{
	display: block;
	margin-left: auto;
  margin-right: auto;
}