.title1{font-family: 'Love Ya Like A Sister', cursive;

color: yellow;
padding: 60px;
margin-left: 16px;
text-shadow: 3px 3px 8px black;
text-align: center;
font-size: 60px; 
}

.sidenav{
color: green;
padding: 20px;
margin-left: 16px;
text-shadow: 3px 3px 8px black;
text-align: left;
font-size: 20px; 	

}

.divbackground {

background-size: cover;

background-image: url(palmtreebackground.jpg);
background-attachment: fixed;
background-position: 18% 23%;



}

#willy{

	display: block;
margin-left: 30%;
margin-right: auto;


}



	
